[submodule "CheckUser"]
	path = CheckUser
	url = https://github.com/wikimedia/mediawiki-extensions-CheckUser.git
[submodule "AJAXPoll"]
	path = AJAXPoll
	url = https://github.com/wikimedia/mediawiki-extensions-AJAXPoll.git
[submodule "AbuseFilter"]
	path = AbuseFilter
	url = https://github.com/wikimedia/mediawiki-extensions-AbuseFilter.git
[submodule "AntiSpoof"]
	path = AntiSpoof
	url = https://github.com/wikimedia/mediawiki-extensions-AntiSpoof.git
[submodule "ArticleFeedback"]
	path = ArticleFeedback
	url = https://github.com/wikimedia/mediawiki-extensions-ArticleFeedback.git
[submodule "Cite"]
	path = Cite
	url = https://github.com/wikimedia/mediawiki-extensions-Cite.git
[submodule "ConfirmEdit"]
	path = ConfirmEdit
	url = https://github.com/wikimedia/mediawiki-extensions-ConfirmEdit.git
[submodule "Editcount"]
	path = Editcount
	url = https://github.com/wikimedia/mediawiki-extensions-Editcount.git
[submodule "Gadgets"]
	path = Gadgets
	url = https://github.com/wikimedia/mediawiki-extensions-Gadgets.git
[submodule "GlobalBlocking"]
	path = GlobalBlocking
	url = https://github.com/wikimedia/mediawiki-extensions-GlobalBlocking.git
[submodule "GlobalUsage"]
	path = GlobalUsage
	url = https://github.com/wikimedia/mediawiki-extensions-GlobalUsage.git
[submodule "ImageMap"]
	path = ImageMap
	url = https://github.com/wikimedia/mediawiki-extensions-ImageMap.git
[submodule "InputBox"]
	path = InputBox
	url = https://github.com/wikimedia/mediawiki-extensions-InputBox.git
[submodule "Interwiki"]
	path = Interwiki
	url = https://github.com/wikimedia/mediawiki-extensions-Interwiki.git
[submodule "MultiUpload"]
	path = MultiUpload
	url = https://github.com/wikimedia/mediawiki-extensions-MultiUpload.git
[submodule "Renameuser"]
	path = Renameuser
	url = https://github.com/wikimedia/mediawiki-extensions-Renameuser.git
[submodule "PdfHandler"]
	path = PdfHandler
	url = https://github.com/wikimedia/mediawiki-extensions-PdfHandler.git
[submodule "StringFunctions"]
	path = StringFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-StringFunctionsEscaped.git
[submodule "MediaWikiAuth"]
	path = MediaWikiAuth
	url = https://github.com/wikimedia/mediawiki-extensions-MediaWikiAuth.git
[submodule "Widgets"]
	path = Widgets
	url = https://github.com/wikimedia/mediawiki-extensions-Widgets.git
[submodule "SyntaxHighlight_GeSHi"]
	path = SyntaxHighlight_GeSHi
	url = https://github.com/wikimedia/mediawiki-extensions-SyntaxHighlight_GeSHi.git
[submodule "UserMerge"]
	path = UserMerge
	url = https://github.com/wikimedia/mediawiki-extensions-UserMerge.git
[submodule "MediaWikiChat"]
	path = MediaWikiChat
	url = https://github.com/Brickimedia/MediaWikiChat.git
[submodule "NumberOfComments"]
	path = NumberOfComments
	url = https://github.com/Brickimedia/NumberOfComments.git
[submodule "NewTalkGlobal"]
	path = NewTalkGlobal
	url = https://github.com/Brickimedia/NewTalkGlobal.git
[submodule "GlobalContribs"]
	path = GlobalContribs
	url = https://github.com/Brickimedia/GlobalContribs.git
[submodule "SocialProfile"]
	path = SocialProfile
	url = https://github.com/Brickimedia/SocialProfile.git
[submodule "VoteNY"]
	path = VoteNY
	url = https://github.com/wikimedia/mediawiki-extensions-VoteNY.git
[submodule "SemanticMediaWiki"]
	path = SemanticMediaWiki
	url = https://github.com/wikimedia/mediawiki-extensions-SemanticMediaWiki.git
[submodule "WikiArticleFeeds"]
	path = WikiArticleFeeds
	url = https://github.com/wikimedia/mediawiki-extensions-WikiArticleFeeds.git
[submodule "WikiForum"]
	path = WikiForum
	url = https://github.com/wikimedia/mediawiki-extensions-WikiForum.git
[submodule "googleAnalytics"]
	path = googleAnalytics
	url = https://github.com/wikimedia/mediawiki-extensions-googleAnalytics.git
[submodule "WikiEditor"]
	path = WikiEditor
	url = https://github.com/wikimedia/mediawiki-extensions-WikiEditor.git
[submodule "GlobalCssJs"]
	path = GlobalCssJs
	url = https://github.com/wikimedia/mediawiki-extensions-GlobalCssJs.git
[submodule "Validator"]
	path = Validator
	url = https://github.com/wikimedia/mediawiki-extensions-Validator.git
[submodule "BlogPage"]
	path = BlogPage
	url = https://github.com/wikimedia/mediawiki-extensions-BlogPage.git
[submodule "Comments"]
	path = Comments
	url = https://github.com/wikimedia/mediawiki-extensions-Comments.git
[submodule "Nuke"]
	path = Nuke
	url = https://github.com/wikimedia/mediawiki-extensions-Nuke.git
[submodule "ParserFunctions"]
	path = ParserFunctions
	url = https://github.com/wikimedia/mediawiki-extensions-ParserFunctions.git
[submodule "ProtectSite"]
	path = ProtectSite
	url = https://github.com/wikimedia/mediawiki-extensions-ProtectSite.git
[submodule "DPLForum"]
	path = DPLForum
	url = https://github.com/wikimedia/mediawiki-extensions-DPLforum.git
[submodule "HTMLTags"]
	path = HTMLTags
	url = https://github.com/wikimedia/mediawiki-extensions-HTMLTags.git
